* {
    font-family: "Cousine", Arial, sans-serif;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
    background-color: hsl(300, 24%, 90%);
}

h1,
h2 {
    text-align: center;
    letter-spacing: 1.2;
    padding: 15px;
}

.about {
    font-size: 14px;
    line-height: 1.2;
}

#nav {
    background-color: #efefef;
    padding: 10px 0 5px 0;
    text-align: center;
}

li {
    display: inline;
    padding: 5px;
}

figcaption {
    font-style: italic;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

img {
    border: 5px double #000;
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 200px;
}

table {
    padding: 20px;
}

thead {
    background-color: #efefef;
}

td {
    padding: 10px;
}

.code {
    font-family: monospace, sans-serif;
    font-size: 14px;
}
