* {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
    background-color: hsl(300, 24%, 90%);
}

h1,
h2 {
    text-align: center;
    letter-spacing: 1.2;
    padding: 15px;
}

p .about {
    font-size: 14px;
    line-height: 1.2;
}

#nav {
    background-color: #efefef58;
    padding: 10 0 10 0;
    text-align: left;
    position: relative;
    margin-top: 0;
}
li{
    background-color: #efefef3b;
}
column1{
    min-width: 25%;
    max-width: auto;
}
column2{
    min-width: 70%;
    max-width: auto;
}
figcaption {
    font-style: italic;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

img {
    border: 5px double #000;
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 200px;
}

table {
    padding: 10px;
    border: 1px solid #000;
}

thead {
    background-color: #efefef;
}

td {
    padding: 10px;
}

.code {
    font-family: monospace, sans-serif;
    font-size: 14px;
}

footer {
    background-color: gray;
    padding: 0.5em 0.5em;
}
